Sessions/Craig Porteous - Power BI under Source Control/Flow Definition.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "String",
            "metadata": {
                "description": "Name of the logic app."
            }
        },
        "logicAppLocation": {
            "defaultValue": "[resourceGroup().location]",
            "allowedValues": [
                "eastasia",
                "southeastasia",
                "centralus",
                "eastus",
                "eastus2",
                "westus",
                "northcentralus",
                "southcentralus",
                "northeurope",
                "westeurope",
                "japanwest",
                "japaneast",
                "brazilsouth",
                "australiaeast",
                "australiasoutheast",
                "southindia",
                "centralindia",
                "westindia",
                "canadacentral",
                "canadaeast",
                "westcentralus",
                "westus2",
                "[resourceGroup().location]"
            ],
            "type": "String",
            "metadata": {
                "description": "Location of the logic app."
            }
        },
        "power.20bi.20source.20control.5fea6c3a7adc4ca84-8f1ba12ad457bce1_Connection_Name": {
            "defaultValue": "power.20bi.20source.20control.5fea6c3a7adc4ca84-8f1ba12ad457bce1",
            "type": "String",
            "metadata": {
                "description": "Name of the connection."
            }
        },
        "onedriveforbusiness_Connection_Name": {
            "defaultValue": "onedriveforbusiness",
            "type": "String",
            "metadata": {
                "description": "Name of the connection."
            }
        }
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "name": "[parameters('logicAppName')]",
            "apiVersion": "2016-06-01",
            "location": "[parameters('logicAppLocation')]",
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "$authentication": {
                            "defaultValue": {},
                            "type": "SecureObject"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Get_All_Workspaces": {
                            "runAfter": {
                                "Initialize_Workspace_Name_variable": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "flowSystemMetadata": {
                                    "swaggerOperationId": "GetAllWorkspaces"
                                }
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['power.20bi.20source.20control.5fea6c3a7adc4ca84-8f1ba12ad457bce1']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/v1.0/myorg/groups",
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Parse_Workspace_JSON": {
                            "runAfter": {
                                "Get_All_Workspaces": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get_All_Workspaces')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "@@odata.context": {
                                            "type": "string"
                                        },
                                        "@@odata.count": {
                                            "type": "integer"
                                        },
                                        "value": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "isReadOnly": {
                                                        "type": "boolean"
                                                    },
                                                    "isOnDedicatedCapacity": {
                                                        "type": "boolean"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "isReadOnly",
                                                    "isOnDedicatedCapacity",
                                                    "name"
                                                ]
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Apply_to_each_Workspace": {
                            "foreach": "@body('Parse_Workspace_JSON')?['value']",
                            "actions": {
                                "Get_all_Reports": {
                                    "runAfter": {
                                        "Set_Workspace_Name_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "flowSystemMetadata": {
                                            "swaggerOperationId": "GetAllReports"
                                        }
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['power.20bi.20source.20control.5fea6c3a7adc4ca84-8f1ba12ad457bce1']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/v1.0/myorg/groups/@{encodeURIComponent(items('Apply_to_each_Workspace')?['id'])}/reports",
                                        "authentication": "@parameters('$authentication')"
                                    }
                                },
                                "Parse_Report_JSON": {
                                    "runAfter": {
                                        "Get_all_Reports": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_all_Reports')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "@@odata.context": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "webUrl": {
                                                                "type": "string"
                                                            },
                                                            "embedUrl": {
                                                                "type": "string"
                                                            },
                                                            "isOwnedByMe": {
                                                                "type": "boolean"
                                                            },
                                                            "datasetId": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "webUrl",
                                                            "embedUrl",
                                                            "isOwnedByMe",
                                                            "datasetId"
                                                        ]
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "Apply_to_each_Report": {
                                    "foreach": "@body('Parse_Report_JSON')?['value']",
                                    "actions": {
                                        "Export_Report": {
                                            "runAfter": {},
                                            "metadata": {
                                                "flowSystemMetadata": {
                                                    "swaggerOperationId": "ExportReport"
                                                }
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['power.20bi.20source.20control.5fea6c3a7adc4ca84-8f1ba12ad457bce1']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/v1.0/myorg/groups/@{encodeURIComponent(items('Apply_to_each_Workspace')?['id'])}/reports/@{encodeURIComponent(items('Apply_to_each_Report')?['id'])}/Export",
                                                "authentication": "@parameters('$authentication')"
                                            }
                                        },
                                        "Create_Power_BI_file_in_OneDrive": {
                                            "runAfter": {
                                                "Export_Report": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "metadata": {
                                                "flowSystemMetadata": {
                                                    "swaggerOperationId": "CreateFile"
                                                }
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['onedriveforbusiness']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": "@body('Export_Report')",
                                                "path": "/datasets/default/files",
                                                "queries": {
                                                    "folderPath": "PowerBI_Backups/@{items('Apply_to_each_Workspace')?['name']}/",
                                                    "name": "@{items('Apply_to_each_Report')?['name']}.pbix"
                                                },
                                                "authentication": "@parameters('$authentication')"
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Parse_Report_JSON": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "Set_Workspace_Name_variable": {
                                    "runAfter": {},
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "WorkspaceName",
                                        "value": "@items('Apply_to_each_Workspace')?['name']"
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_Workspace_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_Workspace_Name_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "WorkspaceName",
                                        "type": "String"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "power.20bi.20source.20control.5fea6c3a7adc4ca84-8f1ba12ad457bce1": {
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'power.20bi.20source.20control.5fea6c3a7adc4ca84-8f1ba12ad457bce1')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('power.20bi.20source.20control.5fea6c3a7adc4ca84-8f1ba12ad457bce1_Connection_Name'))]",
                                "connectionName": "[parameters('power.20bi.20source.20control.5fea6c3a7adc4ca84-8f1ba12ad457bce1_Connection_Name')]"
                            },
                            "onedriveforbusiness": {
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'onedriveforbusiness')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('onedriveforbusiness_Connection_Name'))]",
                                "connectionName": "[parameters('onedriveforbusiness_Connection_Name')]"
                            }
                        }
                    }
                },
                "runtimeConfiguration": {
                    "lifetime": {
                        "unit": "Day",
                        "count": 30
                    },
                    "collections": {
                        "maximumItemCount": 100000
                    },
                    "performanceProfile": {
                        "throttles": {
                            "mode": "Medium"
                        }
                    }
                }
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('power.20bi.20source.20control.5fea6c3a7adc4ca84-8f1ba12ad457bce1_Connection_Name'))]",
                "[resourceId('Microsoft.Web/connections', parameters('onedriveforbusiness_Connection_Name'))]"
            ]
        },
        {
            "type": "Microsoft.Web/connections",
            "name": "[parameters('power.20bi.20source.20control.5fea6c3a7adc4ca84-8f1ba12ad457bce1_Connection_Name')]",
            "apiVersion": "2016-06-01",
            "location": "[parameters('logicAppLocation')]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'power.20bi.20source.20control.5fea6c3a7adc4ca84-8f1ba12ad457bce1')]"
                },
                "displayName": "[parameters('power.20bi.20source.20control.5fea6c3a7adc4ca84-8f1ba12ad457bce1_Connection_Name')]"
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "name": "[parameters('onedriveforbusiness_Connection_Name')]",
            "apiVersion": "2016-06-01",
            "location": "[parameters('logicAppLocation')]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'onedriveforbusiness')]"
                },
                "displayName": "[parameters('onedriveforbusiness_Connection_Name')]"
            }
        }
    ]
}